nav {
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    background: transparent;
    position: relative;
    z-index:200;
    margin:auto;
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 0px;
        gap:20px;
        width: 100%;

        &:first-of-type {
            justify-content: space-between;
        }

        h1.logo {
            color: #fff;
            img {
                width: 60px;
                padding-left: 10px;
            }
            .navLink {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                font-size: 3.5rem;
                font-family: "Sedgwick Ave Display", cursive;
            }
        }

        img {
            width: 40px;
            border-radius: 50%;
        }

        .profile,
        .toggler {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            padding-right: 10px;
            img {
                cursor: pointer;
            }
        }
        .toggler {
            display: none;
            position: relative;
        }

        input {
            display: none;
        }

        //active NavLink
        .active {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: "Sedgwick Ave Display", cursive;

            // text-shadow: 0px 0px 20px #fff;
        }

        &.navbar {
            align-self: center;
            display: flex;
            justify-content: space-around;
            gap: 30px;
            li {
                list-style: none;
                .navLink {
                    transition: all 0.3s linear;
                    text-decoration: none;
                    color: #fff;
                    font-size: 1.5rem;
                    font-family: "Sedgwick Ave Display", cursive;

                    &:hover {
                        text-shadow: 0px 0px 10px #fff;
                    }
                }
                .active {
                    transition: all 0.3s linear;
                    &:hover {
                        text-shadow: 0px 0px 10px #fff;
                    }
                }
            }
            
           
        }
    }
}

@media (max-width: 767px) {
body{
    nav {
    width:98%;
    padding-right:0px!important;
        ul {
            display: flex;
            &:first-of-type {
                justify-content: space-between;
                gap:0px;

            }
            .menu {
              
                ul {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    li {
                        border-bottom: 3px solid #fff;
                        padding: 3px 0px;
                        transition: all 0.3s linear;
                        &:hover {
                            border-bottom: 3px solid #fff;
                            background-color: $secondary-color;
                            .active {
                                color: $primary-color;
                            }
                            .navLink {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            .toggler {
                display: flex;
                cursor: pointer;
                transition: all 0.5s linear;
                order: 2;

                img:last-of-type {
                    display: none;
                }

                img:first-of-type {
                    display: flex;
                }
            }

            .profile,
            .menu {
                width: 100%;
                order: 3;
                height: 0px;
                transition: all 0.5s linear;
                display: none;
                background-color: $primary-color;
                padding: 10px 0px;
                width: 100%;
                top: 150px;
                position: absolute;

                ul {
                    height: 100%;
                    li {
                        width: 100%;
                        padding: 10px 0px;
                    }
                }
            }

            .menu {
                height: 100%;
                gap:0px;
                top:115px;
               background-color: #7f5dab;
            }
            .profile {
                order: 4;
                padding: 5px;
                align-self: center;
                bottom: 0px;
                position: relative;
                top:180px;
                display: none;
                align-items: center;
                justify-content: center;
            }
            input {
                display: flex;
                position: absolute;
                top: 40px;
                right: 10px;
                width: 40px;
                height: 40px;
                opacity: 0;
                z-index: 222;
                cursor: pointer;

                &:checked ~ li.profile {
                    order: 4;
                    height: 20px;
                    display: flex;
                }

                &:checked ~ li.toggler img:first-of-type {
                    display: none;
                }

                &:checked ~ li.toggler img:last-of-type {
                    display: flex;
                }

                &:checked ~ li.menu {
                    height:220px;;
                    width: 100%;
                    display: flex;
                }
            }
        }
    }
}
}