@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700");
@import url("https://fonts.googleapis.com/css2?family=Gajraj+One&family=Jolly+Lodger&family=Pirata+One&family=Sedgwick+Ave+Display&display=swap");
button {
  margin: auto;
  background-color: rgb(35, 35, 60);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2.3em;
  font-family: "Sedgwick Ave Display", cursive;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 #15172b, 0px 9px 25px rgba(0, 0, 0, 0.7);
  width: 260px;
  text-align: center;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 3px 0 #15172b, 0px 3px 6px rgba(0, 0, 0, 0.7);
  position: relative;
  top: 6px;
}
button.light {
  background-color: #fff;
  width: 150px;
  box-shadow: 0 9px 0 #e6e6e6, 0px 9px 25px rgba(40, 40, 49, 0.7);
  border-color: #eae7e7;
  margin: 0px;
}
button.light .navLink {
  color: #15172b;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  padding: 5px;
  width: 100%;
  height: 100%;
}
button.light:hover {
  box-shadow: 0 3px 0 #e6e6e6, 0px 3px 6px rgba(40, 40, 49, 0.7);
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  width: 100%;
  margin: 0px auto;
  margin-top: 50px;
}
form .input-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  width: 90%;
  margin: auto;
}
form .input-container.gender .gender-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}
form .input-container.gender .gender-group .form-group {
  background-color: transparent;
}
form .input-container.gender label {
  display: flex;
}
form .input-container label {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Sedgwick Ave Display", cursive;
  font-family: "Pirata One", cursive;
}
form .input-container label img {
  width: 50px;
  cursor: pointer;
}
form .input-container .form-group {
  display: grid;
  grid-template-columns: 3fr auto;
  font-size: 16px;
  background-color: #fff;
  border-radius: 5px;
}
form .input-container .form-group svg {
  width: 25px;
  padding: 6px;
  max-height: 100%;
  background-color: #15172b;
  fill: #fff;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  border: 2px solid #fff;
  border-left: 0px;
}
form .input-container .form-group input {
  max-height: 100%;
  color: #15172b;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px 0px 0px 5px;
  background-color: #fff;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 20px;
}
form .input-container .form-group input ::placeholder {
  font-size: 20px;
  font-family: "Sedgwick Ave Display", cursive;
}
form .input-container .message {
  color: red;
  width: 100%;
}
form textarea {
  width: 100% !important;
  max-width: 100%;
  border-radius: 5px;
}

nav {
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  background: transparent;
  position: relative;
  z-index: 200;
  margin: auto;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0px;
  gap: 20px;
  width: 100%;
}
nav ul:first-of-type {
  justify-content: space-between;
}
nav ul h1.logo {
  color: #fff;
}
nav ul h1.logo img {
  width: 60px;
  padding-left: 10px;
}
nav ul h1.logo .navLink {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-size: 3.5rem;
  font-family: "Sedgwick Ave Display", cursive;
}
nav ul img {
  width: 40px;
  border-radius: 50%;
}
nav ul .profile,
nav ul .toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-right: 10px;
}
nav ul .profile img,
nav ul .toggler img {
  cursor: pointer;
}
nav ul .toggler {
  display: none;
  position: relative;
}
nav ul input {
  display: none;
}
nav ul .active {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Sedgwick Ave Display", cursive;
}
nav ul.navbar {
  align-self: center;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
nav ul.navbar li {
  list-style: none;
}
nav ul.navbar li .navLink {
  transition: all 0.3s linear;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Sedgwick Ave Display", cursive;
}
nav ul.navbar li .navLink:hover {
  text-shadow: 0px 0px 10px #fff;
}
nav ul.navbar li .active {
  transition: all 0.3s linear;
}
nav ul.navbar li .active:hover {
  text-shadow: 0px 0px 10px #fff;
}

@media (max-width: 767px) {
  nav {
    width: 98%;
  }
  nav ul {
    display: flex;
  }
  nav ul:first-of-type {
    justify-content: space-between;
    gap: 0px;
  }
  nav ul .menu ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  nav ul .menu ul li {
    border-bottom: 3px solid #fff;
    padding: 3px 0px;
    transition: all 0.3s linear;
  }
  nav ul .menu ul li:hover {
    border-bottom: 3px solid #fff;
    background-color: rgba(238, 238, 238, 0.9333333333);
  }
  nav ul .menu ul li:hover .active {
    color: #15172b;
  }
  nav ul .menu ul li:hover .navLink {
    color: #15172b;
  }
  nav ul .toggler {
    display: flex;
    cursor: pointer;
    transition: all 0.5s linear;
    order: 2;
  }
  nav ul .toggler img:last-of-type {
    display: none;
  }
  nav ul .toggler img:first-of-type {
    display: flex;
  }
  nav ul .profile,
  nav ul .menu {
    width: 100%;
    order: 3;
    height: 0px;
    transition: all 0.5s linear;
    display: none;
    background-color: #15172b;
    padding: 10px 0px;
    width: 100%;
    top: 150px;
    position: absolute;
  }
  nav ul .profile ul,
  nav ul .menu ul {
    height: 100%;
  }
  nav ul .profile ul li,
  nav ul .menu ul li {
    width: 100%;
    padding: 10px 0px;
  }
  nav ul .menu {
    height: 100%;
    gap: 0px;
  }
  nav ul .profile {
    order: 4;
    padding: 10px;
    align-self: center;
    bottom: 0px;
    position: relative;
    top: 180px;
    display: none;
    align-items: center;
    justify-content: center;
  }
  nav ul input {
    display: flex;
    position: absolute;
    top: 70px;
    right: 10px;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 222;
    cursor: pointer;
  }
  nav ul input:checked ~ li.profile {
    order: 4;
    height: 20px;
    display: flex;
  }
  nav ul input:checked ~ li.toggler img:first-of-type {
    display: none;
  }
  nav ul input:checked ~ li.toggler img:last-of-type {
    display: flex;
  }
  nav ul input:checked ~ li.menu {
    height: 220px;
    width: 100%;
    display: flex;
  }
}
div.Sign {
  background-color: rgba(1, 1, 24, 0.914);
  background: rgba(1, 1, 24, 0.914) url("../images/wave.svg") no-repeat;
  background-size: contain;
  background-position: 0% 100%;
  font-family: "Gajraj One", cursive;
  font-family: "Pirata One", cursive;
  font-family: "Jolly Lodger", cursive;
  font-family: "Sedgwick Ave Display", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
div.Sign .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  margin: 40px auto;
  border-radius: 50px;
  background: #15172b;
  box-shadow: 20px 20px 60px rgba(18, 20, 37, 0.2509803922), -20px -20px 60px #181b33;
}
div.Sign .container .form {
  background: #15172b;
  border-radius: 0px 50px 50px 0px;
}
div.Sign .container .form h1 {
  font-size: 2.5rem;
  color: #fff;
  text-align: left;
  padding-left: 30px;
  width: 270px;
  padding-top: 20px;
}
div.Sign .container .form p {
  font-size: 0.9rem;
  text-align: left;
  color: #d1d1d1;
  margin-top: -10px;
  padding-left: 30px;
}
div.Sign .container .form p.log {
  padding-left: 0px;
  text-align: center;
  margin: 20px auto;
  font-size: 15px;
  color: #d4d3d3;
  text-transform: capitalize;
}
div.Sign .container .form p.log a {
  color: #a09f9f;
}
div.Sign .container .image {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15172b;
  border-radius: 50px 0px 0px 50px;
}
div.Sign .container .image img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .Sign .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
  .Sign .container .form {
    border-radius: 50px 50px 0px 0px;
    order: 1;
  }
  .Sign .container .image {
    order: 2;
    border-radius: 0px 0px 50px 50px;
  }
  .Sign .container button {
    font-size: 20px;
    width: 180px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .Sign .container {
    width: 90%;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .Sign .container {
    width: 85%;
  }
}
div.Sign {
  padding: 20px;
}
div.Sign .container {
  display: grid;
  margin: 0px auto;
}

.Home {
  background: #15172b url("../images//Home4.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: -25px;
  padding: 20px 0px;
  position: relative;
  overflow: hidden;
  padding-bottom: 0px;
}
.Home header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.Home header .container .content {
  padding: 220px 50px;
  padding-bottom: 0px;
  text-align: center;
}
.Home header .container .content h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 600px;
  color: #fff;
  letter-spacing: 1px;
  margin: auto;
  line-height: 6rem;
  font-weight: 500;
  text-shadow: 0px 0px 5px #c9cdf3;
}
.Home header .container .content p {
  color: #eee;
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 2, 7rem;
  margin: 30px auto;
  text-shadow: 0px 0px 1px #c9cdf3;
}
.Home header .container .content .Buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Home header .container .content .Buttons button {
  width: 300px;
}
.Home header .container .image {
  display: block;
  position: absolute;
  top: 34.5%;
  left: 62%;
  width: 100%;
  background-image: url("../images/sward.png");
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

@media (max-width: 767px) {
  .Home header .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .Home header .container .content {
    padding: 20px 10px;
    margin: auto;
    max-width: 100%;
  }
  .Home header .container .content h2 {
    font-size: 3rem;
    width: 100%;
    line-height: 4rem;
  }
  .Home header .container .content p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
  .Home header .container .content .Buttons button {
    max-width: 300px;
  }
  .Home header .container .image {
    display: flex;
    top: 55%;
    left: 0%;
  }
}
.about {
  background: #15172b url("../images/Home4.png");
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 0px;
}
.about header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about header .container .content {
  padding: 220px 50px;
  padding-bottom: 0px;
  text-align: center;
}
.about header .container .content h2 {
  font-size: 4rem;
  font-weight: bold;
  width: 600px;
  color: #fff;
  letter-spacing: 1px;
  margin: auto;
  line-height: 6rem;
  font-weight: 500;
  text-shadow: 0px 0px 5px #d8934d;
}
.about header .container .content p {
  color: #eee;
  font-size: 1.2rem;
  max-width: 500px;
  line-height: 2, 7rem;
  margin: 30px auto;
  text-shadow: 0px 0px 1px #d8934d;
}
.about header .container .content .Buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.about header .container .content .Buttons button {
  width: 300px;
}
.about header .container .image {
  display: block;
  position: absolute;
  top: 10.5%;
  right: -20%;
  width: 100%;
  background-image: url("../images/AboutV.png");
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

@media (max-width: 767px) {
  .about header .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 20px;
  }
  .about header .container .content {
    padding: 20px 10px;
    margin: auto;
    max-width: 100%;
  }
  .about header .container .content h2 {
    font-size: 3rem;
    width: 100%;
    line-height: 4rem;
  }
  .about header .container .content p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2.4rem;
  }
  .about header .container .content .Buttons button {
    max-width: 300px;
  }
  .about header .container .image {
    display: flex;
    top: 65%;
    right: 0%;
    background-size: contain;
    background-image: url("../images/ABOUTP.png");
  }
}
div.Sign.Contact {
  padding-top: 0px;
  margin-top: -60px;
  display: flex;
  flex-direction: column;
}
div.Sign.Contact .container {
  display: grid;
  grid-template-columns: 1fr;
}
div.Sign.Contact .container .form {
  border-radius: 50px;
  padding: 20px;
  margin-left: -23px;
}
div.Sign.Contact .image {
  display: none !important;
}

@media (max-width: 767px) {
  .Contact .container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90% !important;
  }
  .Contact .container .form {
    border-radius: 50px;
    padding: 20px;
    margin-left: -23px;
  }
  .Contact .container .image {
    order: 2;
    display: none !important;
    border-radius: 0px 0px 50px 50px;
  }
  .Contact .container button {
    font-size: 20px;
    width: 180px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .Contact .container {
    width: 90%;
  }
  .Contact .container .image {
    display: none !important;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .Contact .container {
    width: 85%;
  }
  .Contact .container .image {
    display: none !important;
  }
}
body, html {
  height: 100%;
}

.Feed {
  background: #15172b;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.Feed .container {
  width: 80%;
  margin: auto;
}
.Feed .container ul {
  list-style: none;
  width: 100%;
}
.Feed .container .link {
  color: #eee;
  text-decoration: none;
}
.Feed .container .section-banner {
  min-height: 160px;
  padding: 0px 60px 0 20px;
  border-radius: 12px;
  background: url("../images/banner-bg.png") no-repeat 50%;
  background-size: cover;
  position: relative;
}
.Feed .container .section-banner-icon {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.Feed .container .section-banner-icon img {
  vertical-align: middle;
  border-style: none;
}
.Feed .container .section-banner-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin: 20px 0px;
  max-width: 550px;
  padding-top: 20px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.Feed .container .section-banner-text {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  max-width: 650px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.Feed .container .Grid {
  margin: 20px auto;
  display: grid;
  width: 60%;
  margin: 50px auto;
}
.Feed .container .Grid .blog-box {
  padding: 32px 0px;
  border-radius: 12px;
  background-color: #1d2333;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Feed .container .Grid .blog-box-top {
  padding: 0px 28px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
}
.Feed .container .Grid .blog-box-top-settings {
  width: 40px;
  cursor: pointer;
  position: relative;
  display: flex;
  left: -40px;
}
.Feed .container .Grid .blog-box-top-settings-icon img {
  width: 30px;
  height: 30px;
}
.Feed .container .Grid .blog-box-top-settings-dropdown {
  position: absolute;
  top: 15px;
  right: 29px;
  z-index: 9999;
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  background-color: #fff;
  border: 2px solid #15172b;
  background-color: #15172b;
  border-radius: 5px;
  padding: 0px;
  /* display when click on dots*/
  display: none;
}
.Feed .container .Grid .blog-box-top-settings-dropdown li {
  color: #eee;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 10px;
  transition: all 0.5s linear;
}
.Feed .container .Grid .blog-box-top-settings-dropdown li:first-of-type {
  border-radius: 5px 5px 0px 0px;
}
.Feed .container .Grid .blog-box-top-settings-dropdown li:last-of-type {
  border-radius: 0px 0px 5px 5px;
}
.Feed .container .Grid .blog-box-top-settings-dropdown li:hover {
  background-color: #eee;
  color: #15172b;
}
.Feed .container .Grid .blog-box-top-status .user-status {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Feed .container .Grid .blog-box-top-status .user-status-title {
  color: #d6d2d2;
  font-weight: 200;
  font-size: 1.4rem;
  margin: 10px auto;
}
.Feed .container .Grid .blog-box-top-status .user-status-title .link {
  font-size: 1rem;
  color: #fff;
}
.Feed .container .Grid .blog-box-top-status .user-status-text {
  color: #d6d2d2;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0px auto;
}
.Feed .container .Grid .blog-box-top-status .user-status .user-avatar {
  position: relative;
}
.Feed .container .Grid .blog-box-top-status .user-status .user-avatar-content {
  width: 40px;
  border-radius: 30px;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #eee;
}
.Feed .container .Grid .blog-box-top-status .user-status .user-avatar-badge {
  position: absolute;
  bottom: -10px;
  right: -5px;
  background-color: #a5b2d6;
  text-align: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Feed .container .Grid .blog-box-mid .blog-box-status-text {
  color: #e6e5e5;
  font-size: 1rem;
  font-weight: 100;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
  line-height: 30px;
  text-align: left;
  padding: 0px 28px;
}
.Feed .container .Grid .blog-box-mid iframe {
  width: 100%;
  height: 400px;
  outline: none;
  border: none;
}

@media screen and (max-width: 960px) {
  .Feed .container {
    width: 90%;
  }
  .Feed .container .section-banner {
    height: 86px;
    min-height: auto;
  }
  .Feed .container .section-banner-icon {
    width: 92px;
    height: 86px;
  }
  .Feed .container .section-banner-title {
    font-size: 1.5rem;
    max-width: 100%;
  }
  .Feed .container .section-banner-text {
    margin-top: 5px;
    font-size: 0.75rem;
    max-width: 100%;
  }
}
body {
  font-family: "Sedgwick Ave Display", cursive;
}

/*# sourceMappingURL=main.css.map */
