form 
{
display: flex;
justify-content: center;
flex-direction: column;
align-items: space-between;
gap:20px;
width:100%;
margin:0px auto;
margin-top:50px;

// box-shadow:1px 1px 50px #c1bbbb;

.input-container
{
display: flex;
justify-content: space-between;
flex-direction: column;
gap:10px;
text-align: start;
width:90%;
margin:auto;
&.gender 
{

.gender-group 
{

display: flex;
justify-content: center;
gap:15px;
    .form-group 
    {
    background-color: transparent;}
    }
    
    label 
    {
    display: flex;}

}


label 
{
color:#fff;
font-size: 1.2rem;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Pirata One', cursive;

img 

{
width:50px;
cursor: pointer;

}
}

.form-group{

display: grid;
grid-template-columns:  3fr auto;
font-size: 16px;
background-color: #fff;
border-radius: 5px;
// border:2px solid #fff;

svg
{
width:25px;
padding:6px;;
max-height:100%;
background-color: $primary-color;
fill:#fff;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
border:2px solid#fff;
border-left:0px;

}
input {
    max-height:100%;
    color:$primary-color;
    border:none;
    outline:none;
    padding:5px 10px;
    border-radius: 5px 0px 0px 5px;
    background-color: #fff;
// border:2px solid $primary-color;
font-family: 'Sedgwick Ave Display', cursive;
font-size: 20px;

::placeholder 
{
font-size:20px;
font-family: 'Sedgwick Ave Display', cursive;

}
}

}

.message 
{
  color:red;
  width: 100%;

}

}

textarea 

{
width: 100%!important;
max-width:100%;
border-radius: 5px;;
}



}

