$primary-color:#15172b;
$light-blue:#c9cdf3;
$secondary-color:#eeee;
$calendar-bg-color: #1d2333;
$calendar-font-color: #FFF;
$weekdays-border-bottom-color: #292c35;
$calendar-date-hover-color: #393d49;
$calendar-current-date-color: #0f162b;
$calendar-today-color: linear-gradient(to bottom, #15172b, #111325);
$calendar-today-innerborder-color: transparent;
$calendar-nextprev-bg-color: transparent;
$next-prev-arrow-color : #FFF;
$calendar-border-radius: 16px;
$calendar-prevnext-date-color: #393d49