
.Home {
    background: $primary-color url("../images//Home4.png") no-repeat;
    background-size: cover;
    min-height:100vh ;
    width: 100%;
    margin-top: -25px;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0px;;

    // &::after
    // {
    // content: "";
    // display: block;
    // position: absolute;
    // top:33%;
    // left:62%;
    // width:100%;
    // background-image: url("../images/sward.png");
    // background-repeat: no-repeat;
    // height:1000px;
    // width:100%;
    // z-index: 1;
    // }

    header .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .content {
            padding: 350px 50px;
            padding-bottom: 0px;
            text-align: center;
            h2 {
                font-size: 4rem;
                font-weight: bold;
                width: 600px;
                color: #fff;
                letter-spacing: 1px;
                margin: auto;
                line-height: 6rem;
                font-weight: 500;
                text-shadow: 0px 0px 5px $light-blue;
                text-align: left;
            }
            p {
                color: #eee;
                font-size: 1.2rem;
                max-width: 500px;
                line-height: 2, 7rem;
                margin: 30px auto;
                text-shadow: 0px 0px 1px $light-blue;
            }

            .Buttons {
                display: flex;
                justify-content: center;
                gap: 20px;

                button {
                    width: 300px;
                }
            }
        }

        .image {
            display: block;
            position: absolute;
            top: 34.5%;
            left: 62%;
            width: 100%;
            background-image: url("../images/sward.png");
            background-repeat: no-repeat;
            height: 1000px;
            width: 100%;
            // z-index: 1;
        }
    }
}

@media (max-width: 767px) {
    .Home {
    padding-top:200px;
        header .container {
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: 1fr 1fr;            
            align-items: center;
            gap: 20px;
            
            .content {
                padding: 20px 10px;
                margin:auto;
                max-width: 100%;
                margin-bottom: 20px;

                h2 {
                    font-size: 3rem;
                    width:100%;
                    line-height: 4rem;
                    text-align: center;
                }
                p {
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    line-height: 2.4rem;
                }

                .Buttons {
                    button {
                       max-width: 300px;
                    }
                }
            }

            .image {
                display: flex;
                top:55%;
                left:0%;
            }
        }
    }
}
